.episode {
    padding: 10px;
    min-height: 100px;
    min-width: 300px;
}

.episode:hover {
    cursor: pointer;
    background-color: rgb(33, 39, 53);
}

.cover {
    width: 75px;
    height: 75px;
    margin-right: 25px;
}

.description {
    margin: auto;
    text-align: left;
}

.source {
    margin-right: 25px;
}