html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(18, 21, 29);
  color: #f9fbf7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: rgb(55, 96, 192);
  border-radius: 10px;
  border-width: 0;
  color: #9cf;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #48f;
}

input {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: rgb(55, 96, 192);
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  color: #9cf;
  padding: 15px;
  width: 90%;
  max-width: 500px;
  min-width: 200px;
  margin: 10px;
}

input:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #26f;
  border-radius: 10px;
}