:root {

  --summarize-shadow: rgba(0, 0, 255, 0.8);
  --summarize-hover: radial-gradient(rgb(168, 137, 255), rgb(36, 8, 247));
  --summary-gradient: radial-gradient(rgb(168, 137, 255), rgb(61, 30, 217));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #12151d;
    --background-hover: #212735;
    --accent-primary:#3760c0;
    --accent-primary-hover: #48f;
    --accent-secondary: #69f;
    --accent-secondary-hover: #9ebeff;
    --text-primary: #48f;
    --text-secondary: #9cf;
    --text-paragraph: #f9fbf7;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #fff;
    --background-hover: #ddd;
    --accent-primary:#eee;
    --accent-primary-hover: #ccc;
    --accent-secondary: #69f;
    --accent-secondary-hover: #9ebeff;
    --text-primary: #48f;
    --text-secondary: #555;
    --text-paragraph: #000;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background);
  color: var(--text-paragraph);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--accent-primary);
  border-radius: 10px;
  border-width: 0;
  color: var(--text-secondary);
  margin: 5px;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent-primary-hover);
}

input {
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: var(--accent-primary);
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  color: var(--text-secondary);
  padding: 15px;
  width: 90%;
  max-width: 500px;
  min-width: 200px;
  margin: 10px;
}

input:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-primary);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-primary-hover);
  border-radius: 10px;
}