@keyframes loading {
    0% {
        transform: rotate3d(1, 0, 1, 0deg);
        border-radius: 25%;
    }

    50% {
        transform: rotate3d(1, 0, 1, 180deg);
        border-radius: 90%;
    }

    100% {
        transform: rotate3d(1, 0, 1, 360deg);
        border-radius: 25%;
    }
}

.loader {
    position: absolute;
    top: calc(50% - 37.5px);
    left: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
    border-style: solid;
    border-width: 3px;
    border-color: #9cf;
    border-radius: 25%;
    animation-name: loading;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
}

#loader_1 {
    animation-duration: 4s;
    animation-delay: 0s;
    border-color: #8bf;
}

#loader_2 {
    animation-duration: 4s;
    animation-delay: -1s;
    border-color: #69f;
}

#loader_3 {
    animation-duration: 4s;
    animation-delay: -2s;
    border-color: #48f;
}

#loader_4 {
    animation-duration: 4s;
    animation-delay: -3s;
    border-color: #26f;
}