.article {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--background);
    overflow-x: hidden;
    overflow-y: scroll;
}

.articlecontent {
    width: 100%;
    max-width: 800px;
    height: 100%;
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
    margin-top: 50px;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 24px;
    width: 24px;
    filter: brightness(0) saturate(100%) invert(52%) sepia(25%) saturate(7164%) hue-rotate(202deg) brightness(101%) contrast(104%);
}

.back:hover {
    cursor: pointer;
    opacity: 0.8;
}

.back_icon {
    height: 100%;
    margin: auto;
}

.summarize {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 0 20px var(--summarize-shadow);
    background: var(--summary-gradient);
}

.summarize:hover {
    cursor: pointer;
    background: var(--summarize-hover);
}

.summary_text {
    font-size: 16px;
    font-weight: bold;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ai_header {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    background: var(--summary-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary {
    width: 80%;
    max-width: 800px;
    min-width: 275px;
    margin: auto;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
}