#article {
    position: fixed;
    width: 95vw;
    height: 95vh;
    top: 2.5vh;
    left: 2.5vw;
    border-radius: 20px;
    background-color: rgb(18, 21, 29);
    box-shadow: 0 0 10px #111;
    overflow-x: hidden;
    overflow-y: scroll;
}

#articlecontent {
    width: 70%;
    min-width: 275px;
    height: 100%;
    font-size: 16px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
}

#backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(10px);
}

#close {
    position: fixed;
    bottom: 3vh;
    right: calc(3.5vh + 15px);
    font-size: 16px;
    color: #9cf;
    background-color: rgb(55, 96, 192);
    box-shadow: 0 0 10px #111;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

#close:hover {
    cursor: pointer;
    background-color: #48f;
}

.summarize {
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.8);
    line-height: 50px;
    text-align: center;
}

.summarize:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.3);
}

.summary_text {
    font-size: 24px;
    background: linear-gradient(rgb(34, 34, 255), rgb(15, 255, 15));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ai_header {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    background: linear-gradient(rgb(34, 34, 255), rgb(15, 255, 15));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary {
    width: 80%;
    max-width: 800px;
    min-width: 275px;
    margin: auto;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
}