.episode_info {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: var(--text-secondary);
    background-color: var(--background);
    height: 130px;
    padding: 10px;
    box-shadow: var(--accent-primary) 0 0 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.episode_title {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}