#add {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px;
}

#feedlist {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: fit-content;
    max-height: calc(100% - 350px);
    width: 80%;
    margin: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#logout {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#navbar {
    overflow: hidden;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#sidebar {
    width: 25vw;
    max-width: 400px;
    min-width: 300px;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #69f;
    overflow-y: scroll;
}

#trash {
    position: relative;
    top: 5px;
    margin-right: 10px;
}

#trash:hover {
    cursor: pointer;
    background-color: #5b97bb;
    border-radius: 50%;
}

.nav {
    margin-right: 10px;
    color: #48f;
}

.source {
    position: relative;
    font-size: 16px;
    flex-grow: 1;
    height: 50px;
    margin: 5px;
    padding: 5px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
}

.source:hover {
    cursor: pointer;
    background-color: rgb(33, 39, 53);
}

.source_row {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding-top: 5px;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #69f;
}
  