@keyframes loading {
    0% {
        width: 7px;
        left: calc(50% - 25px);
    }

    50% {
        width: 50px;
        left: calc(50% - 25px);
    }

    100% {
        width: 7px;
        left: calc(50% + 18px);
    }
}

#loader {
    position: absolute;
    top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 7px;
    animation-name: loading;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 1;
    background-color: var(--text-primary);
}